body {
    background: #eee !important;
    font-family: "Helvetica Light", "Helvetica", serif;
}

.wrapper {
    display: flex;
    margin-top: 80px;
    text-align: left;
}
.form-signin {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 300px;
    padding: 20px 15px 20px;
    margin: -60px auto;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.checkbox {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 32px;
    font-weight: normal;
}
.form-control {
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

input[type="text"] {
    flex-direction: column;
    flex-wrap: nowrap;
    background: url(http://d2t44wh9rnwl5y.cloudfront.net/gsc/929PD8/1f/35/56/1f355676a0fc44aabf551d47453ea2fe/images/test_form/u36.png?token=499de4f1787a4af421bc24bc088c6fb5) no-repeat 10px center;
    border: 1px solid #ccc;
    padding: 10px 5px 10px 20px;
    text-indent: 20px;
    margin-bottom: 20px;
    border-radius: 4px 4px 0 0;
}
select {
    flex-direction: column;
    flex-wrap: nowrap;
    background: url(http://d2t44wh9rnwl5y.cloudfront.net/gsc/929PD8/1f/35/56/1f355676a0fc44aabf551d47453ea2fe/images/test_form/u38.png?token=6da6a3010e8cd4a36f808b8478822455) no-repeat 10px center;
    border: 1px solid #ccc;
    padding: 10px 5px 10px 20px;
    text-indent: 25px;
    margin-bottom: -1px;
    border-radius: 4px 4px 4px 4px;
}

button {
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #2EACD4;
    font-size: 15px;
    border-radius: 4px 4px 4px 4px;
    color: white;
    padding: 14px 100px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    line-height: 20px;

}

label {
    display: flex;
    margin-left: 20px;
    margin-top: 185px;
    position: absolute;
}

button:hover {
    background-color: #2798BC;
}

span {
    padding-bottom: 10px;
}